
.contain {
    width: 100%;
    height: 30px;
    display: block;
    margin: 15px 10px;
    
  }
  
  
  
  .btn {
    border: none;
    background-color: rgba(58, 1, 98, 0.459);
    margin: 5px;
    width: 40px;
    height: 80%;
    font-size: medium;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: scale(1.1) ;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 5px 8px 12px black;
    transition:all 0.3s ease-in-out ;
}

